<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Weather data</h1>
    <ul>
        {% for object in object_list %}
        <li>
            {{ object.recorded_at|date:'r' }} :
            <b>Temperatura</b>: {{ object.temperature }} &#176;C -
            <b>Umidità</b>: {{ object.humidity }} % -
            <b>Pressione</b>: {% widthratio object.pressure|default_if_none:0 100 1 %} hPa
        </li>
        {% endfor %}
    </ul>
</body>
</html>
